.visaoSection {
  background: linear-gradient(to top, #353535, #2b1d1d);
  padding: 20px;
}

.visaoContainer {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 2000px;
  margin: auto;
  flex-direction: row;

  .imageContent {
    margin-top: 50px;
    width: 50%;
    max-width: 700px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    .visaoImg {
      width: 100%;
      height: auto;
      max-width: 550px;
      border-radius: 50px;
    }
  }

  .textSection {
    color: #fff;
    width: 50%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin-top: 100px;

    .text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      h2 {
        font-weight: 500;
        font-size: 4em;
        line-height: 78px;
        letter-spacing: 0.49em;
      }

      p {
        font-weight: 400;
        font-size: 1.3em;
        line-height: 26px;
        margin: 0;
        padding: 30px 0;
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 630px) {
  .visaoContainer {
    flex-direction: column;
    .imageContent,
    .textSection {
      width: 100%;
    }
    .imageContent {
      .visaoImg {
        max-width: 300px;
        margin: 0 auto;
      }
    }
    .textSection {
      text-align: center;
    }
  }
}
@media (max-width: 1200px) {
  .textSection {
    .text {
      h2 {
        font-size: 50px;
        line-height: 65px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}

@media (max-width: 900px) {
  .textSection {
    .text {
      h2 {
        font-size: 40px;
        line-height: 55px;
      }
      p {
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

@media (max-width: 776px) {
  .visaoContainer {
    flex-direction: column;

    .imageContent,
    .textSection {
      width: 100%;
    }

    .imageContent {
      order: 0;
      .visaoImg {
        width: 100%;
        margin: 0 auto;
      }
    }

    .textSection {
      align-items: center;
      order: 2;
      margin-top: 40px;
      .text {
        h2 {
          font-size: 3em;
          line-height: 42px;
          margin-left: 0;
          letter-spacing: 0.2em;
        }

        p {
          font-size: 1.5em;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .visaoContainer {
    .textSection {
      .text {
        h2 {
          font-size: 2.4em;
        }
        p {
          font-size: 1.2em;
        }
      }
    }
  }
}
