body {
    overflow-x: hidden;
}

div.banner {
    background: linear-gradient(#353535, #E74D0C);
}

div.valoresBanner {
    padding: 20px 40px 0px 40px;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    max-width: 2000px;
    width: 100%;
    margin: auto;
}

.image, .imgInovacao, .imgPrecisao {
    max-width: 100%;
    height: auto;
    border-radius: 25px;
}

div.valoresBanner h1 {
    color: #FFFFFF;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    padding: 20px;
}

div.inovacao h2 {
    color: #FFFFFF;
    font-size: 40px;
}

div.inovacao p {
    font-size: 20px;
    color: #FFFFFF;
}

div.inovacao {
    display: flex;
    padding: 30px;
    justify-content: center;
    max-width: 100%;
}

div.text {
    display: flex;
    flex-direction: column;
    padding: 40px;
}

#textLeft {
    text-align: left;
}

#textRight {
    text-align: right;
}
